// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;
$primary: #f9bb4b;
$yellow: #f9bb4b;
$grey: #9A9A9A;
$default_font: "Roboto", sans-serif;
