.home-wrapper {
	.buttons {
		margin-top: 15px;
		margin-bottom: 25px;
		.novo-animal {
			background-color: $yellow;
			padding: 15px 20px;
			display: inline-block;
			color: white;
			border-radius: 3px;
			font-weight: bold;
			text-decoration: none;
		}

		.nova-consulta {
			display: inline-block;
			border: 1px solid $yellow;
			padding: 15px 20px;
			color: $yellow;
			border-radius: 3px;
			font-weight: bold;
			text-decoration: none;
		}
	}

	.ir-animal {
		input {
			border: 2px solid $yellow;
			padding: 15px 15px;
			height: 46px;
			border-radius: 5px;
			outline: none;
			background-color: white;
		}

		form {
			display: flex;
		}

		input[type=text] {
			flex: 1;
			margin-right: 3.5px;
		}

		input[type=submit] {
			color: white;
			padding: 0px 30px;
			background-color: $yellow;
		}
	}

	.animal-section {
		margin-top: 15px;
	}

	.list-header, .list-header div, .list-data, .list-data div  {
		padding: 0px;
		font-size: 16px;
	  }
	  .list-data, .list-data div {
		color: $grey;
		padding-top: 6px;
	  }
}
